.App {
  text-align: center;
  display: flex;
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

html {
  scroll-behavior: smooth;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  background-color: #256D85;
  justify-content: space-around;
  font-family: 'Montserrat', sans-serif;
  color: #06283D;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.homepagebg {
  background-color: rgba(0, 0, 0, 0.4); 
}

.background-image-blur {
  position: fixed;
  transition: "filter 0.75s ease-out";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://dvo8qteke0tye.cloudfront.net/bg2-sm.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://dvo8qteke0tye.cloudfront.net/bg2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.logo {
  display: block;
  max-width:70px;
  max-height:400px;
  width: auto;
  height: auto;
  opacity: 0;
  animation: fadeIn 1.5s ease-in 0s forwards;
}

.logo-text {
  color: white;
  font-family: 'Montserrat', serif;
  font-size: large;
  vertical-align: middle;
  margin: 0;
  padding-bottom: 20px;
  padding-top: 20px;
  pointer-events: none;
  animation: fadeIn 1.5s ease-in;
}

.top-logo-text {
  color: black;
  font-family: 'Montserrat', serif;
  font-size: large;
  vertical-align: middle;
  margin: 0;
  padding-bottom: 20px;
  padding-top: 20px;
  pointer-events: none;
  animation: fadeIn 2s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.body-content {
  padding-top: 60px;
  width: 100%;
  height: 100%;
  padding-right: 15pt;
  padding-left: 15pt;
}

.bottom-nav-text {
  color: white;
  font-family: Futura, serif;
  opacity: 0;
  animation: fadeIn 1.5s ease-in 1s forwards;
}

.top-nav-text {
  color: black;
  font-family: Futura, serif;
}

ul.nav a:hover { 
  color: gray !important; 
}

*.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;

  /*
    Introduced in IE 10.
    See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
  */
  -ms-user-select: none;
  user-select: none;
}

.blur-load {
  background-size: cover;
  background-position: center;
}

.custom-toggler.navbar-toggler {
  border: none;
  color: transparent;
} 

.custom-dark-toggler.navbar-toggler {
  border: none;
  color: transparent;
}

.custom-toggler .navbar-toggler-icon { 
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.95)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-dark-toggler .navbar-toggler-icon { 
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.95)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

@font-face {
  font-family: 'Mammoth';
  src: url('./assets/mammoth/Mammoth.otf') format('opentype');
}

.mammoth-font-xxlarge {
  font-family: 'Mammoth', sans-serif;
  color: black;
  font-size: xx-large;
}


.mammoth-font {
  font-family: 'Mammoth', sans-serif;
  color: black;
  font-size: small;
}

.centered-font {
  height: 100%;
  line-height: 100px;
  text-align: center;
  margin: 0;
}

.content {
  display: flex;
  flex: 1;
  padding: 10px;
  justify-content: center; /* Horizontally center the items */
  align-items: center; /* Vertically center the items */
  height: 100vh; /* Set the container's height (adjust as needed) */
  flex-direction: column;
}

.title-font-light {
  letter-spacing: .2rem;
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 500%;
  pointer-events: none;
  animation: fadeIn 1.5s ease-in;
}

.subtitle-font-light {
  letter-spacing: .1rem;
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 150%;
  pointer-events: none;
  opacity: 0;
  animation: fadeIn 1.5s ease-in 1s forwards;
}

.numbered-heading::before {
  position: relative;
  bottom: 4px;
  counter-increment: section 1;
  content: "0" counter(section) ".";
  margin-right: 10px;
  color: var(--dark-grey);
  font-family: var(--font-mono);
  font-size: clamp(var(--fz-md),3vw,var(--fz-xl));
  font-weight: 400;
}

.numbered-heading {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  margin: 10px 0px 40px;
  width: 100%;
  font-size: clamp(26px,5vw,var(--fz-heading));
  white-space: nowrap;
}

.numbered-heading::after {
  content: "";
  display: block;
  position: relative;
  top: -5px;
  width: 300px;
  height: 1px;
  margin-left: 20px;
  background-color: var(--lightest-navy);
}

.jBtKSS {
  text-decoration: none;
  text-decoration-skip-ink: auto;
  position: relative;
  transition: var(--transition);
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  height: var(--tab-height);
  padding: 0px 20px 2px;
  border-left: 2px solid var(--lightest-navy);
  background-color: transparent;
  color: var(--light-grey);
  font-family: var(--font-mono);
  font-size: var(--fz-xs);
  text-align: left;
  white-space: nowrap;
}

.button {
  cursor: pointer;
  border: 0px;
  border-radius: 0px;
}

:root {
  --dark-navy: #020c1b;
  --navy: #0a192f;
  --light-navy: #112240;
  --lightest-navy: #233554;
  --navy-shadow: rgba(2,12,27,0.7);
  --grey: #495670;
  --light-grey: #8892b0;
  --light-light-grey: #a8b2d1;
  --lightest-light-grey: #ccd6f6;
  --white: #e6f1ff;
  --dark-grey: #333333;
  --green-tint: rgba(100,255,218,0.1);
  --font-sans: 'Calibre','Inter','San Francisco','SF Pro Text',-apple-system,system-ui,sans-serif;
  --font-mono: 'SF Mono','Fira Code','Fira Mono','Roboto Mono',monospace;
  --fz-xxs: 12px;
  --fz-xs: 13px;
  --fz-sm: 14px;
  --fz-md: 16px;
  --fz-lg: 18px;
  --fz-xl: 20px;
  --fz-xxl: 22px;
  --fz-heading: 32px;
  --border-radius: 4px;
  --nav-height: 100px;
  --nav-scroll-height: 70px;
  --tab-height: 42px;
  --tab-width: 120px;
  --easing: cubic-bezier(0.645,0.045,0.355,1);
  --transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
  --hamburger-width: 30px;
  --ham-before: top 0.1s ease-in 0.25s,opacity 0.1s ease-in;
  --ham-before-active: top 0.1s ease-out,opacity 0.1s ease-out 0.12s;
  --ham-after: bottom 0.1s ease-in 0.25s,transform 0.22s cubic-bezier(0.55,0.055,0.675,0.19);
  --ham-after-active: bottom 0.1s ease-out,transform 0.22s cubic-bezier(0.215,0.61,0.355,1) 0.12s;
}

.deLjYW {
  text-decoration: none;
  text-decoration-skip-ink: auto;
  position: relative;
  transition: var(--transition);
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  height: var(--tab-height);
  padding: 0px 20px 2px;
  border-left: 2px solid var(--lightest-navy);
  background-color: transparent;
  color: var(--dark-grey);
  font-family: var(--font-mono);
  font-size: var(--fz-xs);
  text-align: left;
  white-space: nowrap;
}

::selection {
  background-color: var(--lightest-navy);
  color: var(--lightest-slate);
}