.App {
  text-align: center;
  display: flex;
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

html {
  overscroll-behavior: none;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

.App-header {
  background-color:  var(--darkest-grey)  ;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.home-content-bg {
  background-color: rgba(0, 0, 0, 0.4); 
}

.tech-svg {
  margin: 1.5vw;
  min-width: 50px !important;
  min-height: 50px !important;
  color: "#9d9494";
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.body-content {
  padding-top: 60px;
  width: 100%;
  height: 100%;
  padding-right: 15pt;
  padding-left: 15pt;
}

.blur-load {
  background-size: cover;
  background-position: center;
}

.custom-toggler.navbar-toggler {
  border: none;
  color: transparent;
} 

.custom-dark-toggler.navbar-toggler {
  border: none;
  color: transparent;
}

.custom-light-toggler .navbar-toggler-icon { 
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.95)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-dark-toggler .navbar-toggler-icon { 
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.95)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

@font-face {
  font-family: 'Mammoth';
  src: url('./assets/mammoth/Mammoth.otf') format('opentype');
}

.mammoth-font-xxlarge {
  font-family: 'Mammoth', sans-serif;
  color: black;
  font-size: xx-large;
}


.mammoth-font {
  font-family: 'Mammoth', sans-serif;
  color: black;
  font-size: small;
}

.centered-font {
  height: 100%;
  line-height: 100px;
  text-align: center;
  margin: 0;
}

.content {
  display: flex;
  justify-content: center;
  flex: 1;
  border-radius: 5px;
  padding: 10px;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  padding: 40px 0px 40px 0px;
}

.content-section {
  background-color: rgba(195, 195, 195, 0.05);
  border-radius: 5px;
  width: 80%;
  max-width: 1200px;
  margin: auto;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  height: 10rem;
  width: 25%;
  text-align: center;
  border-radius: 10px;
}

.h2 {
  font-size: calc(12px + 0.5vw) !important;
}

.title-font {
  letter-spacing: .2rem;
  font-family: 'Poppins', sans-serif;
  color: var(--text-light-grey);
  font-size: calc(12px + 1vw);
  pointer-events: none;
  scroll-behavior: smooth;
  max-width: 100vw;

  & > span {
    display: block;
    overflow: hidden;

    & > span {
      display: block;
    }
  }
}

.subtitle-font {
  font-size: calc(12px + 0.5vw);
}

.name {
  color: white;
  letter-spacing: .1rem;
  pointer-events: none;
  font-family: 'Poppins', sans-serif;
  font-size:calc(12px + 1vw);
   
  & > span {
    display: block;
    overflow: hidden;

    & > span {
      display: block;
    }
  }
}

.subtitle-font-light {
  letter-spacing: .1rem;
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size:calc(12px + 1vw);
  pointer-events: none;
}

.numbered-heading::before {
  position: relative;
  bottom: 4px;
  counter-increment: section;
  content: "0" counter(section) ".";
  margin-right: 10px;
  color: var(--light-grey);
  font-family: 'SF Mono', sans-serif;
  font-size: clamp(var(--fz-md),3vw,var(--fz-xl));
  font-weight: 400;
}

.numbered-heading {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 20px 0px 20px;
  padding-top: 20px;
  width: 100%;
  font-family: 'SF Mono', sans-serif;
  font-size: clamp(3.5vw,5vw,var(--fz-heading));
  white-space: nowrap;
  color: white;
}

.jBtKSS {
  text-decoration: none;
  text-decoration-skip-ink: auto;
  position: relative;
  transition: var(--transition);
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  height: var(--tab-height);
  padding: 0px 20px 2px;
  border-left: 2px solid var(--lightest-light-grey);
  background-color: transparent;
  color: var(--light-grey);
  font-family: var(--font-mono);
  font-size: var(--fz-xs);
  text-align: left;
  white-space: nowrap;
}

.button {
  cursor: pointer;
  border: 0px;
  border-radius: 0px;
}

:root {
  --navy-shadow: rgba(2,12,27,0.7);
  --darkest-grey: #1A1A1A;
  --dark-grey: #323232;
  --grey: #495670;
  --light-grey: #9d9494;
  --lightest-light-grey: #c7cbd7;
  --text-light-grey: #C3C3C3;
  --white: #e6f1ff;
  --dark-grey: #333333;
  --green-tint: rgba(100,255,218,0.1);
  --font-sans: 'Calibre','Inter','San Francisco','SF Pro Text',-apple-system,system-ui,sans-serif;
  --font-mono: 'SF Mono','Fira Code','Fira Mono','Roboto Mono',monospace;
  --fz-xxs: 12px;
  --fz-xs: 13px;
  --fz-sm: 14px;
  --fz-md: 16px;
  --fz-lg: 18px;
  --fz-xl: 20px;
  --fz-xxl: 22px;
  --fz-heading: 32px;
  --border-radius: 4px;
  --nav-height: 100px;
  --nav-scroll-height: 70px;
  --tab-height: 42px;
  --tab-width: 120px;
  --easing: cubic-bezier(0.645,0.045,0.355,1);
  --transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
  --hamburger-width: 30px;
  --ham-before: top 0.1s ease-in 0.25s,opacity 0.1s ease-in;
  --ham-before-active: top 0.1s ease-out,opacity 0.1s ease-out 0.12s;
  --ham-after: bottom 0.1s ease-in 0.25s,transform 0.22s cubic-bezier(0.55,0.055,0.675,0.19);
  --ham-after-active: bottom 0.1s ease-out,transform 0.22s cubic-bezier(0.215,0.61,0.355,1) 0.12s;
}

.social-link-container {
  border-radius: 5px;
  width: 30vw;
  margin: 3vh auto; /* Adds top margin and centers horizontally */
}

.circular-image img {
  width: 8vw;
  height: 8vw;
  min-width: 100px;
  min-height: 100px;
  border-radius: 50%; 
  margin: 50px;
  object-fit: cover;
  background-image: url("./assets/site-portrait.jpg");
  background-size: cover; /* Covers the div with the image */
  background-position: center; /* Centers the image within the div */
  background-repeat: no-repeat; /* No repeat of the image */
}

.social-link {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 10px;
  margin-left: 10px;
  height: 30px;
  width: 30px;
  fill: var(--light-grey);
}

.engineering-container {
  width: 500px;
  height: 500px;
}

/*  background: url('https://dvo8qteke0tye.cloudfront.net/bg2.jpg') no-repeat 50% 50%; */
/*.hero-background {
  width: 100%;
  height: calc(100vh);
  background: url('./assets/bg-stars.jpg');
  background-size: cover;
  position: relative;
  transition: transform 0.3s;
}*/

.page-container {
  width: 100%;
  height: calc(100vh);
  background-size: cover;
  position: relative;
  transition: transform 0.3s;
}

.parallax-container {
  counter-reset: section;
  position: inherit;
  top: 0;
  left: 0;
}

.section-right {
  height: 90vh;
  width: 40vw;
  background-color:  var(--darkest-grey);
  position: absolute;
  right: 8vw;
  top: 50%;
  transform: translateY(-50%);
}

.parallax-section {
  width: 100%;
  height: 100vh;
}

h1 {
  color: white;
  font-family: Futura, serif;
}

p {
  color: var(--text-light-grey);
  font-family: Futura, serif;
  line-height: 30px;
}

.summary {
  width: 50vw;
}

@media (max-width: 768px) {
  .content-section {
    width: 90vw;
  }

  .summary {
    max-width: 80vw;
    font-size: 12px;
  }

  .social-link-container {
    width: 80vw;
  }
}

@media (min-width: 768px) {
  .title-font-light {
    font-size: calc(2.5vw);
  }
}