.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./assets/bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.logo {
  display: block;
  max-width:70px;
  max-height:400px;
  width: auto;
  height: auto;
}

.logo-text {
  color: white;
  font-family: 'Montserrat', serif;
  font-size: large;
  vertical-align: middle;
  margin: 0;
  padding-bottom: 20px;
  padding-top: 20px;
}

.top-logo-text {
  color: black;
  font-family: 'Montserrat', serif;
  font-size: large;
  vertical-align: middle;
  margin: 0;
  padding-bottom: 20px;
  padding-top: 20px;
}

.body-content {
  padding-top: 60px;
  width: 100%;
  height: 100%;
  padding-right: 15pt;
  padding-left: 15pt;
}

.bottom-nav-text {
  color: white;
  font-family: Futura, serif;
}

.top-nav-text {
  color: black;
  font-family: Futura, serif;
}

ul.nav a:hover { 
  color: gray !important; 
}

*.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;

  /*
    Introduced in IE 10.
    See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
  */
  -ms-user-select: none;
  user-select: none;
}

.blur-load {
  background-size: cover;
  background-position: center;
}

.custom-toggler.navbar-toggler {
  border: none;
  color: transparent;
} 

.custom-dark-toggler.navbar-toggler {
  border: none;
  color: transparent;
}

.custom-toggler .navbar-toggler-icon { 
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.95)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-dark-toggler .navbar-toggler-icon { 
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.95)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
